/* Space out content a bit */
body{
  margin: 0;
  font-family: 'Quicksand', cursive;
   color:white;
}
.color, .word {
    font-size:2em;
}
.word {
    font-size:3em;    
}

a , a:hover{
    color:white;
    font-size:1.4em;
}
.color {
    font-weight:600;
}
.colorContainer{
    min-width:100%;
    padding : 15px;
    float:left;
}
