/* Space out content a bit */
.colorContainer{
  font-family: 'Quicksand', cursive;
  color:white;
}
.colors {
    margin-top:60px;
}

.notfound{
    color:black;
    font-size:3em;
}
.color, .word {
    font-size:2em;
}
.word {
    font-size:3em;    
}
.permalink {
    font-size:0.7em;
    color:rgba(255,255,255,0.5);
    opacity: 0;
    transition: all .5s ease-out;
}
.colorContainer:hover .permalink {
    opacity: 1.0;
    font-size:0.7em;
    transition: all .5s ease-out;
}

a , a:hover{
    color:white;
    font-size:1.4em;
}
.color {
    font-weight:600;
}
.colorContainer{
    min-width:100%;
    padding : 15px;
    float:left;
}
