<div class="page-header" >
  <div>
      <button ng-click="spa()"> Spanish </button>
      <button ng-click="eng()"> English </button>
      <button ng-click="all()"> All </button>
    </div>
    <input ng-model="query" >
    
</div>
<div class="colorContainer" ng-repeat="(word,color) in colors | filter: {query:query} " style="background:{{color}}" id="#{{word}}">
    <div class="word">
        {{word}}
    </div>
    <div class="color" style="color:{{color | complementaryColor}}">{{color}}</div>
</div>