<nav class="navbar2 navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div>
            <ul class="nav">
                <div class="row">
                    <div class="col-xs-8">
                        <span class="{{spa_active}} language"><span ng-click="spa()">Spanish</span>
                        </span>
                        <span class="{{eng_active}} language"><span ng-click="eng()">English</span>
                        </span>
                        <span class="{{all_active}} language"><span ng-click="all()">All</span>
                        </span>
                        <span class="language"><span ng-click="rnd()">Random</span>
                        </span>
                    </div>
                    <div class="col-xs-4 col-xs-pull-1 ">
                        <input id="search" ng-model="query" ng-model-options="{ debounce: 800 }" placeholder="Search...">
                    </div>
                </div>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="colors" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
    <div ng-show="!colors.length" class="loading">
        <div id="balls" class="center-horizontal center-vertical">
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
            <div id="ball5" class="ball"></div>
        </div>
    </div>
    <div ng-show="!filteredColors.length && colors.length" class="notfound">
        <div id="balls" class="center-horizontal center-vertical">
            <h1>No colors</h1>
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
            <div id="ball5" class="ball"></div>
        </div>
    </div>
    <div id="{{color.word}}" class="colorContainer" ng-repeat=" color in filteredColors = (colors | filter:{word:query})" style="background:{{color.color}}" id="#{{color.word}}" data-lang="{{color.lang}}">
        <div class="word">
            {{color.word}}
            <a class="permalink" href="{{baseUrl}}lang/all/search/{{color.word}}"><span class=" glyphicon glyphicon-link"></span></a>
        </div>
        <div class="color" style="color:{{color.color | complementaryColor}}">{{color.color}}</div>
    </div>

</div>
